.product {
    background: $white;
    box-shadow: 0 5px 7px -3px #697865;
    transition: box-shadow .3s;
    
    &:hover {
        box-shadow: 0 5px 7px 1px #697865;
    }

    &__image {
        figure {
            min-height: 300px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;

            @include breakpoint-small-desktop {
                min-height: 230px;
            }
        }
    }

    &__content {
        padding: 30px 20px;
        word-break: break-all;

        @include breakpoint-small-desktop {
            padding: 20px 15px;
        }

        @include breakpoint-tablet-portrait {
            padding: 15px 10px;
        }

        h3 {
            margin-bottom: 10px;
            
            @include breakpoint-tablet-portrait {
                font-size: 20px;
            }
        }

        h4 {
            margin-bottom: 10px;
            font-size: 20px;
            color: $light-blue;
            font-weight: 700;

            @include breakpoint-tablet-portrait {
                font-size: 15px;
            }
        }

        h5 {
            font-weight: 400;

            @include breakpoint-tablet-portrait {
                font-size: 14px;
            }

            a {
                display: inline-block;
                margin-left: 5px;
                color: $dark-blue;
                font-style: italic;
                text-decoration: none;

                &:hover {
                    transform: translateX(5px);
                }
            }
        }
    }

    &__actions {
        margin-top: 20px;

        @include breakpoint-small-desktop {
            margin-top: 10px;
        }

        .btn {
            margin: 10px 10px 0 0;

            @include breakpoint-small-desktop {
                padding-left: 25px;
                padding-right: 25px;
                margin-right: 8px;
            }
        }
    }
}